img {
    display: block;
    float: left;
    padding-left: 50px;
    padding-top: 30px;
    padding-right: 100px;
  }

.blurb {
    padding-top: 30px;
}

p {
    font-size: 16pt;
    color: white;
    display: inline;
  }

pdf-viewer {
    padding-top: 20px;
}