  <div>
    <img src="assets/temari.PNG" alt="Diagram of the Temari tool for testing mined specifications"
      width="600"
      height="300">
      <div class="blurb">
        <p>At Cornell University, I worked in the Software Engineering Lab under Owolabi Legunsen. In this lab I worked in a field called runtime verification, which can be summarized succinctly as a birdge between formal methods of verifying software and normal testing. Runtime verification works by checking program executions against formal mathmatical specifications. One challenge with runtime verification is the writing of said specifications, which are required for RV to work. These need to be written carefully in formal languages, so it is not always possible for developers to spare the time to write them.</p>
      </div>
  </div>

  <div style="clear:both; padding-bottom:200px;">
    <img src="assets/fsm.PNG" alt="image"
      width="600"
      height="300">
      <div class="blurb">
        <p>One development in the field are a class of tools known as "specification miners". These tools look at program executions and infer specifications. The idea is that these executions model correct behaviour, so if we enforce correct behaviour, we can avoid bugs. However, many of these mined specifications are trivial, or enforce behaviour that is not strictly required for program correctness. To remedy this issue Temari, perturbs a program such that it violates a specification. If the program behaves correctly while violating the spec, the spec is clearly not required for correctness, and it can be thrown out.</p>
      </div>
  </div>

<vg-player>
    <video [vgMedia]="$any(media)" #media id="singleVideo" preload="auto" controls>
        <source src="assets/WebsitePresentation.mp4" type="video/mp4">
    </video>
</vg-player>



<ngx-extended-pdf-viewer style="padding-top: 20px;" [height]="'700px'" [src]="'assets/ICSE2023SUBMISSION.pdf'" [useBrowserLocale]="true"></ngx-extended-pdf-viewer>