  
  <div>
    <img src="assets/linkedin.jfif" alt="Head shot of Tito Maresca"
      width="300"
      height="300">
      <div class="blurb">
        <p>Hi, I'm Tito Maresca, a senior computer science major at Cornell University. I am passionate about writing maintainable, well-tested, high quality code. I am looking for an honest intellectual environment to grow as a software engineer. I want to leverage my current experience and skills to expand my horizons. If you want a quick overview of my expererience so far, please download my
          <a href="assets/Tito_Maresca_Resume_Fall2022.pdf" download>resume</a>.
        </p>
      </div>
  </div>
  
  <div style="clear:both">
  </div>
