<img src="assets/default-placeholder.png" alt="image"
width="1000"
height="200"
style=
    "
    padding-top: 30px;
    padding-left: 250px;
    ">

<p style=
"
padding-top: 30px;
padding-left: 250px;
">
    &#x2022; Item 1, and the various long winded, very informative, and impressive explanations that follow <br><br>
    &#x2022; Item 2, and the various long winded, very informative, and impressive explanations that follow <br><br>
    &#x2022; Item 3, and the various long winded, very informative, and impressive explanations that follow <br><br>
    &#x2022; Item 4, and the various long winded, very informative, and impressive explanations that follow <br><br>
    &#x2022; Item 5, and the various long winded, very informative, and impressive explanations that follow <br><br>
</p>
