<div class="wrapper">
    <img class="img1" src="assets/verisk.jpg" alt="Logo For Verisk Analytics"
        width="200"
        height="200">
    <p class="p1">  Verisk <br><br>
        June 2022 - August 2022 <br><br>
        I worked as a full stack developer focused on creating features for a web application that assists insurance adjusters in making accurate settlements.<br><br>
        My specific responsibilities included:<br>
        • Using Angular, .Net, and SQL for the automatic processing of user and settlement data.<br>
        • Creating workflows with AWS SDK for .NET, S3, SQS, and Lambda as part of a transition to serverless architecture <br><br>
        I also gained exposure to DevOps deployment with Octopus and Bamboo for the deployment of these features. <br>
    </p>

    <img class="img2" src="assets/cornell.png" alt="Logo For Cornell University"
    width="200"
    height="200">
    <p class="p2">Cornell University <br><br>
        December 2021 - May 2023 <br><br>
        I have held various teaching assistant positions within the Computer Science department at Cornell.<br><br>
        As a TA for CS 3410: Systems Programming, I led weekly labs, discussion sections, and office hours. I also prepared lecture videos and discussion presentations on topics like RISC Assembly and C.<br><br>
        During the summer of 2021, I helped facilitate both Cornell's CURIE summer program and its CSMore program for sophomores in the CS major. For this role, I assisted in preparing students for future upper-level CS classes by reviewing concepts such as data structures, discrete math, and functional programming.<br>
    </p>

    <img class="img3" src="assets/PenLink-Logo.png" alt="Logo For Penlink Ltd"
    width="250"
    height="200">
    <p class="p3">PenLink <br><br>
        May 2020 - August 2020 <br><br>
        I worked as a full stack developer focused on creating features for a web application that assists law-enforcement agents to process telecommunications data.<br><br>
        My specific responsibilities included:<br>
        • Developed front-end features in Typescript with Vue.js<br>
        • Repaired and maintained back-end infrastructure in .NET as the only developer on my team dedicated to bug-fixes <br>
        • Exposure to the DevOps deployments of web applications with AWS Elastic Beanstalk <br>
        • Participated in an Agile software development environment with Azure DevOps and a scrum framework <br>
    </p>

</div>

