<div class="wrapper">
    <img class="img1" src="assets/verisk.jpg" alt="image"
        width="200"
        height="200">
    <p class="p1">  Verisk <br><br>
        • Developed features for a web application designed to assist insurance adjusters in making accurate settlements <br>
        • Engineered over a full stack with Angular, .Net, and SQL for the automatic processing of user and settlement data <br>
        • Created workflows with AWS SDK for .NET, S3, SQS, and Lambda as part of a transition to serverless architecture <br>
        • Exposure to DevOps deployment with Octopus and Bamboo for the deployment of said features <br>
    </p>

    <img class="img2" src="assets/cornell.png" alt="image"
    width="200"
    height="200">
    <p class="p2">Cornell University <br><br>
        • Lead a weekly lab and discussion section for CS3410 Systems Programming, a class with hundreds of students <br>
        • Prepared course materials including lecture videos and discussion presentations on topics such as RISC Assembly and C <br>
        • Held weekly office hours for students needing one-on-one assistance, where queues often reached over 50 students <br>
        • Facilitated Cornell’s CURIE summer program and Cornell’s CSMore program for computer science sophomores <br>
    </p>

    <img class="img3" src="assets/PenLink-Logo.png" alt="image"
    width="250"
    height="200">
    <p class="p3">PenLink <br><br>
        • Developed front-end features in Typescript with Vue.js in a web application for the analysis of telecommunication data <br>
        • Repaired and maintained back-end infrastructure in .NET as the only developer on my team dedicated to bug-fixes <br>
        • Exposure to the DevOps deployments of web applications with AWS Elastic Beanstalk <br>
        • Participated in an Agile software development environment with Azure DevOps and a scrum framework <br>
    </p>

</div>

