<div class="wrapper">
    <img class="img1" src="assets/default-placeholder.png" alt="image"
        width="200"
        height="200">
    <p class="p1">Work Experience 1</p>

    <img class="img2" src="assets/default-placeholder.png" alt="image"
    width="200"
    height="200">
    <p class="p2">Work Experience 2</p>

    <img class="img3" src="assets/default-placeholder.png" alt="image"
    width="200"
    height="200">
    <p class="p3">Work Experience 3</p>

    <img class="img4" src="assets/default-placeholder.png" alt="image"
    width="200"
    height="200">
    <p class="p4">Work Experience 4</p>

    <img class="img5" src="assets/default-placeholder.png" alt="image"
    width="200"
    height="200">
    <p class="p5">Work Experience 5</p>

    <img class="img6" src="assets/default-placeholder.png" alt="image"
    width="200"
    height="200">
    <p class="p6">Work Experience 6</p>


</div>

